<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Sneakers Top 5</title>
</head>
<body>
    <p class="text-center fs-1">Nikki James's Top 5 Sneaker's</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">1. Nike Mag </h5>
            <small></small>
          </div>
          <p class="mb-1">Nike</p>
          <small>Designed by famed Nike footwear Designer Tinker Hatfield for the film Back to the Future II. Self-lacing futuric sneakers in a one-of-a-kind design. </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">2. Mark Smith #11 Laser Air Force One</h5>
          </div>
          <p class="mb-1">Nike</p>
          <small class="text-muted">Laser-engraved Nike Air Force One limited to 200 pairs world wide, for then CEO of Nike Mark Parker. Colorway is a beautiful cashmere brown leather, engraved design uppers.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">3. 'Paris' Dunk Low SB</h5>
          </div>
          <p class="mb-1">Nike</p>
          <small class="text-muted">Part of Nike's 'White Dunk Exhibit' in Paris. Each individual sneaker has art work cut from a large canvas, each shoe itself is different because of the cut of the canvas and artwork. </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">4. 'Parra' Air Max 1</h5>
            </div>
            <p class="mb-1">Nike</p>
            <small class="text-muted">Air Max 1 dressed in buttery burgandy suede with laser blue accents; done in the same colors as artist 'Piet Parra' of Amsterdam.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">5. Air Jordan XI 'Concord'</h5>
            </div>
            <p class="mb-1">Nike</p>
            <small class="text-muted">Michael Jordan's comeback sneaker and the most beautiful sneaker to ever bless the hardwood. nuff said</small>
          </a>
      </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>